.main{
  background: black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  gap: 20px;
  h1{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 20px;
    left: calc(50% - 145px);
    z-index: 3;
    user-select: none;
  }
  .humanType{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .buttonContainer{
      .playButton{
        text-decoration: none;
        outline: none;
        margin: 0 10px;
        transition: 0.3s;
        background: transparent;
        color: white;
        border: 1px white solid;
        border-radius: 5px;
        cursor: pointer;
        width: 100px;
        &:hover{
          box-shadow: rgba(255, 255, 255, 0.68) 0 0 20px;
        }
      }
    }
    input{
      outline: none;
      margin: 0 10px;
      transition: 0.3s;
      background: transparent;
      color: white;
      border: 1px white solid;
      border-radius: 5px;
      padding: 5px 5px;
      &:hover{
        box-shadow: rgba(255, 255, 255, 0.68) 0 0 20px;
      }
    }
  }
  .gameTypeContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 3;
    input{
      cursor: pointer;
      color: white;
      padding: 10px;
      border-radius: 5px;
      font-size: 20px;
      text-transform: uppercase;
      background: transparent;
      border: 1px solid white;
      transition: 0.5s;
      backdrop-filter: blur(100px);
      &:hover{
        background: rgba(100, 100, 100, 0.47);
        box-shadow: rgba(255, 255, 255, 0.68) 0 0 20px;
      }
    }
  }
  video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(5px) brightness(0.5);
    z-index: 1;
    position: absolute;
  }
}