.main{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background: black;
  overflow: hidden;
  .sticks{
    position: absolute;
    left: -200%;
    padding: 10px 300px;
    transition: 0.3s;
    border-radius: 25px;
    filter: blur(10px);
    //animation: test 0.5s infinite linear;
    //&:nth-of-type(1),
    //&:nth-of-type(11){
    //  animation-delay: 0.05s;
    //}
    //&:nth-of-type(2),
    //&:nth-of-type(12){
    //  animation-delay: 0.1s;
    //}
    //&:nth-of-type(3),
    //&:nth-of-type(13) {
    //  animation-delay: 0.15s;
    //}
    //&:nth-of-type(4),
    //&:nth-of-type(14) {
    //  animation-delay: 0.20s;
    //}
    //&:nth-of-type(5),
    //&:nth-of-type(15){
    //  animation-delay: 0.25s;
    //}
    //&:nth-of-type(6),
    //&:nth-of-type(16){
    //  animation-delay: 0.30s;
    //}
    //&:nth-of-type(7),
    //&:nth-of-type(17){
    //  animation-delay: 0.35s;
    //}
    //&:nth-of-type(8),
    //&:nth-of-type(18){
    //  animation-delay: 0.40s;
    //}
    //&:nth-of-type(9),
    //&:nth-of-type(19){
    //  animation-delay: 0.45s;
    //}
    //&:nth-of-type(10),
    //&:nth-of-type(20){
    //  animation-delay: 0.5s;
    //}
    animation: test 1s infinite linear;
    &:nth-of-type(1),
    &:nth-of-type(11){
      animation-delay: 0ms;
    }
    &:nth-of-type(2),
    &:nth-of-type(12){
      animation-delay: 222ms;
    }
    &:nth-of-type(3),
    &:nth-of-type(13) {
      animation-delay: 444ms;
    }
    &:nth-of-type(4),
    &:nth-of-type(14) {
      animation-delay: 666ms;
    }
    &:nth-of-type(5),
    &:nth-of-type(15){
      animation-delay: 888ms;
    }
    &:nth-of-type(6),
    &:nth-of-type(16){
      animation-delay: 1110ms;
    }
    &:nth-of-type(7),
    &:nth-of-type(17){
      animation-delay: 1332ms;
    }
    &:nth-of-type(8),
    &:nth-of-type(18){
      animation-delay: 1554ms;
    }
    &:nth-of-type(9),
    &:nth-of-type(19){
      animation-delay: 1776ms;
    }
    &:nth-of-type(10),
    &:nth-of-type(20){
      animation-delay: 2000ms;
    }
  }
  @keyframes test {
    0%{
      left: -200%;
    }
    100%{
      left: 110%;
    }
  }
  .whoseTurn{
    color: white;
  }
  video{
    display: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(5px) brightness(0.5);
    z-index: 1;
    opacity: 0.3;
    position: absolute;
  }
  .winnerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 5;
    .gif{
      height: 500px;
      width: 500px;
    }
    .winnerDescription{
      font-size: 40px;
      font-weight: 600;
    }
    .afterWinButton{
      text-decoration: none;
      outline: none;
      margin: 20px 10px;
      transition: 0.3s;
      background: transparent;
      color: white;
      border: 1px white solid;
      border-radius: 5px;
      cursor: pointer;
      width: 100px;
      &:hover{
        box-shadow: rgba(255, 255, 255, 0.68) 0 0 20px;
      }
    }
  }
}