.main{
  height: 100px;
  width: 100px;
  background: #ffffff;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  font-size: 30px;
  &:hover{
    background: #b6b6b6;
  }
}